<div class="container">
    <h1>Dashboard</h1>
    {{#bs-button class="btn btn-info" onClick=(action "toggleDatePicker")}}
        Choose Date
    {{/bs-button}}
    {{#radio-button
        value="door"
        groupValue=chartType
        changed="chartTypeToggled"}}
        Door Chart
    {{/radio-button}}
    {{#radio-button
        value="food"
        groupValue=chartType
        changed="chartTypeToggled"}}
        Food Chart
    {{/radio-button}}
    {{#bs-collapse collapsed=collapsed}}
        <div id="datepick" class="calendar-medium">
            {{#power-calendar
                center=center
                onCenterChange=(action "disableUnusedDays" value="date")
                selected=selected
                onSelect=(action "selectDate" value="moment") as |calendar|}}
                {{calendar.nav}}
                {{calendar.days disabledDates=disabledDates}}
            {{/power-calendar}}
        </div>
    {{/bs-collapse}}

    {{sample-chart model=model}}
</div>
{{outlet}}
